body{background:#59ABE3;margin:0}

.main-container{
  max-width:320px;
  background:#e6e6e6;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  margin-top: 30px;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative;
}

.url-input {
  min-width: 300px; }

.main-header{
  margin:10px 0;padding-bottom:10px;border-bottom:3px solid #78788c;color: black;
}

.small-header-text{
  color:#78788c;
  display: block;
  font-size: 24px;
}

.error-modal{
  color: black;
}

.dropdown {
  width: auto;
  display: block;
}

.dropdown-menu {
  min-width: 100%;
}

.dropdown-menu li {
  padding: 8px;
  padding-left: 20px;
}

#command-prompt {
  transition: all 0.2s;
}

@media( max-width: 768px ) {
  .dropdown {
    width: 100%;
  }
}

.checkbox-text{
  margin-left: 8px;
}

#checkbox-input-label {
 margin-left: 10px;
}

#checkbox-input {
  vertical-align: middle;
}


